/*
 *  Block raffle participate component
 * --------------------------------------------------*/

// Variables
// -------------------------


// Mixins
// -------------------------


// General settings
// -------------------------
#pxlraffle-participate {
  padding: 20px 0;

  .participation {
    width: 100%;

    .block-header {
      margin-bottom: 20px;
      #pxl-mixins.title();
      text-align: center;
    }

    .participation-slogan {
      margin: 20px 5px 30px 5px;
      #pxl-mixins.subtitle();
      text-align: center;

      @media @tablet {
        margin: 20px 100px 30px 100px;
      }
    }

    .participation-accordion {
      .panel{
        box-shadow: none;
        border: none;
        text-align: center;

        .panel-heading {
          display: inline-block;
          margin: 10px auto 30px;
          padding: 0;
          width: auto;
          text-align: center;
          border: none;

          .panel-title {
            a.accordion-toggle {
              padding: 10px 15px;
              min-width: 160px;
              height: 44px;
              font-family: @pxl-text-font-bold;
              font-size: @resp-button-size-max;
              text-decoration: none;
              line-height: 1;
              letter-spacing: @pxl-button-letter-spacing;
              color: #fff;
              opacity: 1.0;
              #pxl-mixins.border-radius(5px);
              background: @pxl-color-participate;

              &:hover {
                opacity: 0.7;
              }
            }
          }
        }

        .panel-collapse {
          .jumbotron {
            margin: 0;
            background-color: transparent;

            .user-raffle-info {
              #pxl-mixins.text();
              text-align: center;

              .user-raffle-number {

              }

              .user-raffle-code {
                span.raffle-code {
                  padding: 5px 15px;
                  font-size: @font-size-base + 4;
                  color: #fff;
                  background: #000;
                }
              }

              .user-raffle-date {

              }
            }

            .user-raffle-actions {
              .btn.refresh-raffle-button {
                #pxl-mixins.button-main();
              }

              .btn.remove-raffle-button {
                #pxl-mixins.button-gold();
              }
            }
          }
        }
      }
    }
  }
}
