/*
 *  Language block component
 * --------------------------------------------------*/

// Variables
// -------------------------

// Mixins
// -------------------------



// General settings
// -------------------------
#block-locale-language {
  display:inline-block;
  font-family: @pxl-text-font-bold;
  font-size: @font-size-base;

  ul.language-switcher-locale-url {
    #pxl-mixins.no-list-style;

    >li {
      #pxl-mixins.no-list-style;
      display:inline-block;
      margin: 0 -0.25em 0 0;
      padding: 0 10px;
      line-height: 1;

      &.first {
        margin-left: 0;
        padding-left: 0;
      }

      a.language-link {
        display: inline-block;
        width: 10px;
        text-transform: lowercase;
        text-decoration: none;
        color: @text-color;
        outline: none;

        &.active, &:hover, &:focus {
          text-transform: uppercase;
        }
      }

      span.locale-untranslated {
        color: @text-color-disabled;
      }
    }
  }
}
