/*
 *  Block next raffle component
 * --------------------------------------------------*/

// Variables
// -------------------------

// Mixins
// -------------------------



// General settings
// -------------------------
#pxlraffle-next-raffle {
  margin: 0 2*@container-inner-margin;
  background: none;
  padding-top: 30px;
  background-color: @pxl-bg-panel-item;

  .next-raffle {
    font-family: @pxl-text-font-bold;
    text-align: center;

    .next-raffle-slogan {
      margin-bottom: 20px;
      #pxl-mixins.font-size-responsive(@font-size-pane-title);
      color: @text-color;
    }

    .next-raffle-label {
      text-align: center;
      font-size: @font-size-pane-title;
      color: @pxl-color-support;

      body.front & {
        color: @pxl-color-main;
      }
    }

    .next-raffle-date {
      display: inline-block;
      margin-bottom: 20px;
      padding: 5px 15px;
      color: @pxl-color-support;
      font-size: 40px;

      @media @narrow {
        font-size: 10.4vw;
      }
      @media @tablet {
        font-size: 60px;
      }

      body.front & {
        color: @pxl-color-main;
      }
    }

    .next-raffle-info {
      display: none;
      text-align: center;
      font-size: @font-size-base;
      color: @text-color;
    }

    .actions {
      margin: 30px auto;
      text-align: center;

      .btn.link-participate {
        #pxl-mixins.button-large(@pxl-action-button, darken(@pxl-action-button, 5%));

        body.front & {
          #pxl-mixins.button-large(@pxl-action-button, darken(@pxl-action-button, 5%));
        }
      }
    }
  }
}
