/*
 *  Block next raffle component
 * --------------------------------------------------*/

// Variables
// -------------------------

// Mixins
// -------------------------



// General settings
// -------------------------
#pxlraffle-next-raffle {
  margin: 0 2*@container-inner-margin;
  padding: 20px 0;
  background: none;

  .next-raffle {
    font-family: @pxl-text-font-bold;
    text-align: center;

    .next-raffle-slogan {
      margin-bottom: 20px;
      font-size: @font-size-pane-title;
      color: @text-color;
    }

    .next-raffle-label {
      text-align: center;
      font-size: @font-size-pane-title;
      color: @pxl-color-raffle;

      body.front & {
        color: @pxl-color-main;
      }
    }

    .next-raffle-date {
      display: inline-block;
      margin-bottom: 20px;
      padding: 5px 15px;
      font-size: 90px;
      color: @pxl-color-main;
    }

    .next-raffle-info {
      margin-bottom: 50px;
      text-align: center;
      font-size: @font-size-base;
      color: @text-color;
    }
  }
}
