/*
 *  Node block component
 * --------------------------------------------------*/

// Variables
// -------------------------


// Mixins
// -------------------------



// General settings
// -------------------------
.node.node-block {
  margin: 40px auto;
  max-width: 100%;

  @media @special-break {
    max-width: 80%;
  }

  .row {
    margin: 0;

    .col-sm-12 {
      padding: 0 @pxl-gutter-width;

      @media @special-break {
        padding: 0 2*@pxl-gutter-width;
      }

      @media @normal {
        padding: 0 3*@pxl-gutter-width;
      }

      .field-name-field-image {
        margin: 20px auto 30px;

        .field-item {
          img {
            width: 100% !important;
            height: auto !important;
          }
        }
      }

      .field-name-field-video {
        .field-item {
          width: 100%;

          iframe {
            display: block;
            margin: 0 auto;
            width: 100%;
            max-height: 260px;
          }
        }

        @media @tablet {
          .field-item {
            iframe {
              max-height: 300px;
            }
          }
        }
        @media @normal {
          .field-item {
            iframe {
              max-height: 360px;
            }
          }
        }
      }

      .field-name-body {
        display: block;
        margin: 60px auto 30px;
        width: 90%;

        .field-item {
          font-family: @pxl-text-font-light;
          font-size: 20px;
          line-height: 30px;
          text-align: center;
          color: @text-color;
        }
      }

      a.block-button {
        display: block;
        position: relative;
        margin: 0 auto;
        padding: @pxl-container-padding;
        width: 100%;
        max-width: 300px;
        min-width: (@pxl-icon-width + 2*@pxl-container-padding);
        text-decoration: none;
        #pxl-mixins.border-radius(5px);
        background-color: @pxl-action-button;
        opacity: 1.0;

        &:hover {
          text-decoration: none;
          opacity: 0.7;
        }

        .block-button-title {
          display: block;
          font-family: @pxl-text-font-bold;
          font-size: 24px;
          text-align: center;
          color: #fff;
        }

      }
    }
  }
}
