/*
 *  Node page component
 * --------------------------------------------------*/

// Variables
// -------------------------
@paragraph-margin-bottom: 30px;
@paragraph-margin-bottom-large: 50px;


// Mixins
// -------------------------



// General setting
// -------------------------
.node-page {
  >.row {
    >div.col-sm-12 {
      margin: 20px 0 50px;
      width: 100%;

      >.field-name-title {
        h2 {
          margin: 30px auto;
          #pxl-mixins.title();
          text-transform: uppercase;
        }
      }

      >.field-name-body {
        margin: 0 0 50px;
        .jumbotron {
          h2 {
            margin: 0 auto 20px;
          }
        }
        #pxl-mixins.wysiwyg-body();
        #pxl-mixins.hyphenate;

        @media @tablet {
          .content-columns(2, 24px);
        }
      }

      >.paragraphs-items {
        >.field-name-field-paragraphs {
          >.field-items {
            >.field-item:not(:last-child) {
              margin-bottom: @paragraph-margin-bottom;

              @media @tablet {
                margin-bottom: @paragraph-margin-bottom-large;
              }


              // see paragraph-item-... less files
            }
          }
        }
      }

    }
  }
}
