/*
 *  Node spenden component
 * --------------------------------------------------*/

// Variables
// -------------------------

@pxl-font-size-button-title: 22px;

// Mixins
// -------------------------
.bg-carousel() {
  position: relative;
  margin: 0;
  padding: 0;
  height: auto;

  > .carousel-inner {
    margin-top: 0;

    .item {
      > div {
        width: 100%;
        height: 200px !important;

        @media @tablet {
          height: 200px !important;
        }

      }

      &.active {

      }
    }
  }

  > .carousel-indicators {
    display: none;
  }

  > a.carousel-control {
    display: none;
  }
}

.resp-spenden-button(@size: @font-size-large; @color: @webform-color-submit; @bg-color: @webform-bg-color-submit; @radius: @border-radius-large) {
  display: inline-block;
  padding: 8px 15px 6px;
  font-family: @pxl-text-font-bold;
  font-size: @size;
  line-height: 1;
  letter-spacing: 0;
  text-transform: capitalize;
  color: @color;
  outline: none;
  opacity: 1.0;
  #pxl-mixins.border-radius(@radius);
  border: none;
  background-color: @bg-color;

  &:hover, &:focus {
    opacity: 0.7;
  }
}


// General settings
// -------------------------
.node.node-spenden {
  margin: 0 @container-inner-margin !important;

  .row {
    .col-sm-12 {
      position: relative;
      width: 100%;
      height: auto;

      .field-name-title {
        width: 100%;
        z-index: 10;

        h2 {
          margin: 0 0 20px;
          font-family: @pxl-title-font;
          font-size: @font-size-pane-title;
          text-align: center;
          color: @text-color;
        }

      }

      .field-name-field-images {
        display: none;

        .field-item {
          .carousel {
            .bg-carousel;
          }
        }
      }

      .field-type-number-decimal {
        // stripe buttons
        position: relative;
        width: 100%;
        z-index: 10;

        .field-items {
          text-align: center;

          .field-item {
            display: inline-block;
            vertical-align: top;
            width: 100%;
            margin: 0 -2px 20px;
            padding: 0;

            @media @narrow {
              width: 50%;
              padding: 0 10px;
            }

            @media @tablet {
              width: 33.333333%;
            }

            .stripe-button-container {
              padding: 20px;
              border: none;
              #pxl-mixins.border-radius(6px);
              background-color: #fff;
              #pxl-mixins.box-shadow(@pxl-box-shadow);

              .stripe-button-title {
                font-family: @pxl-text-font-bold;
                font-size: @pxl-font-size-button-title;
                color: @pxl-color-participate;
              }

              .stripe-button-text {
                margin-bottom: @font-size-base;
                font-family: @pxl-text-font;
                font-size: @font-size-base;
                color: @text-color;
              }

              .stripe-button {
                // thestripe button with the given amount
                .resp-spenden-button(@font-size-button, #fff, @pxl-color-participate, 4px);

                body.front & {
                  .resp-spenden-button(@font-size-button, #fff, @pxl-color-main, 4px);
                }

                &.btn-warning {
                  background-color: @pxl-color-warning;
                }

                &[disabled] {
                  opacity: 1.0;
                }
              }
            }

            //
            // item form to get custom amount
            form {
              width: 100%;
              margin: 0 auto;

              .input-group {
                display: inline-block;
                vertical-align: top;
                margin: 0 -2px;
                padding: 0;
                width: auto;
                letter-spacing: 0;

                .input-group-addon {
                  display: inline-block;
                  vertical-align: top;
                  padding: 8px 5px 6px;
                  height: (@font-size-button + 14px);
                  width: 70px;
                  font-family: @pxl-text-font-bold;
                  font-size: @font-size-button;
                  color: @text-color;
                  border: 1px solid @pxl-color-border-light;
                  background-color: #fff;
                }

                .form-item-stripe-button-custom-amount {
                  display: inline-block;
                  vertical-align: top;
                  padding: 0;
                  width: 100px;
                  color: @text-color;
                  text-align: right;

                  label {
                    display: none;
                  }

                  input.form-text {
                    padding: 8px 5px 6px;
                    height: (@font-size-button + 14px);
                    font-family: @pxl-text-font-bold;
                    font-size: @font-size-button;
                    text-align: right;
                    #pxl-mixins.border-radius(0);
                    border: 1px solid @pxl-color-border-light;

                    &:focus {
                      border: 1px solid @pxl-color-participate;
                      box-shadow: 1px 1px 1px #aaa inset;

                      body.front & {
                        border: 1px solid @pxl-color-main;
                      }
                    }
                  }
                }
              }

              button.form-submit {
                display: inline-block;
                vertical-align: top;
                .resp-spenden-button(@font-size-button, #fff, @pxl-color-participate, 4px);

                body.front & {
                  .resp-spenden-button(@font-size-button, #fff, @pxl-color-main, 4px);
                }

                margin: 0 0 0 -4px;
                .border-left-radius(0);
              }
            }

            //
            // error items
            .label.stripe-message {
              // stripe message
              display: block;
              white-space: normal;
              max-width: 150px;

              &.label-warning {
                background-color: @pxl-color-warning;
              }
            }

            .popover {
              // stripe popover
              font-family: @pxl-text-font;
              letter-spacing: 1.2px;
              text-align: left;
              color: #fff;
              border: none;
              background: none;

              .arrow {
              }

              .popover-title {
                padding: 4px 14px;
                font-family: @pxl-title-font;
                font-size: 80%;
                border:none;
              }

              .popover-content {
                padding: 4px 14px;
                font-size: 80%;
                #pxl-mixins.border-radius(0 0 5px 5px);
                background-color: @pxl-color-warning;
              }
            }
          }
        }
      }

      .field-name-field-spenden {
        .field-items {
          .field-item {
            width: 100%;

            form {
              .input-group {
                .input-group-addon {
                  width: 50px;
                  height: (@font-size-button-small + 14px);
                  font-size: @font-size-button-small;
                }

                .form-item-stripe-button-custom-amount {
                  width: 100px;
                  input.form-text {
                    height: (@font-size-button-small + 14px);
                    font-size: @font-size-button-small;
                  }
                }
              }

              button.form-submit {
                .resp-spenden-button(@font-size-button-small, #fff, @pxl-color-participate, 4px);

                body.front & {
                  .resp-spenden-button(@font-size-button-small, #fff, @pxl-color-main, 4px);
                }
                .border-left-radius(0);
              }
            }

            @media @narrow {
              width: 100%;
              padding: 0 10px;

              form {
                .input-group {
                  .input-group-addon {
                    width: 70px;
                    height: (@font-size-button + 14px);
                    font-size: @font-size-button;
                  }

                  .form-item-stripe-button-custom-amount {
                    width: 100px;
                    input.form-text {
                      height: (@font-size-button + 14px);
                      font-size: @font-size-button;
                    }
                  }
                }

                button.form-submit {
                  .resp-spenden-button(@font-size-button, #fff, @pxl-color-participate, 4px);

                  body.front & {
                    .resp-spenden-button(@font-size-button, #fff, @pxl-color-main, 4px);
                  }
                  .border-left-radius(0);
                }
              }

            }

            @media @tablet {
              width: 50%;
            }
          }
        }
      }

      .field-name-body {
        width: 100%;
        #pxl-mixins.wysiwyg-body(@font-size-pane-subtitle);
        text-align: center;
        margin: 0 0 20px;
      }

    }
  }
}

