/*
 *  Node page component
 * --------------------------------------------------*/

// Variables
// -------------------------
@paragraph-margin-bottom: 64px;
@paragraph-margin-bottom-large: 128px;


// Mixins
// -------------------------



// General setting
// -------------------------
.node-page {
  >.row {
    >div.col-sm-12 {
      margin: 20px 0 50px;
      width: 100%;

      >.field-name-title {
        h2 {
          margin: @field-title-margin;
          #pxl-mixins.title();
        }
      }

      >.field-name-body {
        margin: @field-margin;
        .jumbotron {
          h2 {
            margin: @field-margin;
          }
        }
        #pxl-mixins.wysiwyg-body();
        //#pxl-mixins.hyphenate;

        @media @tablet {
          //.content-columns(2, 24px);
        }
      }

      >.paragraphs-items {
        >.field-name-field-paragraphs {
          >.field-items {
            >.field-item:not(:last-child) {
              margin-bottom: @paragraph-margin-bottom;

              @media @tablet {
                margin-bottom: @paragraph-margin-bottom-large;
              }


              // see paragraph-item-... less files
            }
          }
        }
      }

    }
  }
}
