/*
 *  Node teammember component
 * --------------------------------------------------*/

// Variables
// -------------------------


// Mixins
// -------------------------



// General settings
// -------------------------
.node.node-teammember {
  .row {
    div.col-sm-12 {
      margin: 0;
      padding: 15px;
      width: 100%;

      .field-name-title {
        text-align: center;

        h2 {
          display:inline-block;
          margin: 0;
          #pxl-mixins.text();
          font-family: @pxl-text-font-bold;
        }
      }

      .field-name-field-image {
        margin: 0;
        text-align: center;

        .field-item {
          display:inline-block;
          img {
            max-width: 100%;
            width: 180px;
            height: auto;
          }
        }
      }

      .field-name-field-t-tigkeiten {
        margin: 0;
        text-align: center;

        .field-item {
          display:inline-block;
          #pxl-mixins.subtext();
        }
      }

      .field-name-field-email {
        margin:0;
        text-align: center;

        .field-item {
          display:inline-block;
          #pxl-mixins.subtext();

          a {
            color: @link-color;

            &:hover, &:focus {
              color: @link-color-hover;
              text-decoration: none;
              background: none;
            }
          }
        }
      }
    }
  }
}
