/*
 *  Node block component
 * --------------------------------------------------*/

// Variables
// -------------------------


// Mixins
// -------------------------



// General settings
// -------------------------
.node.node-block {
  margin: 40px auto;

  .row {
    margin: 0;

    .col-sm-12 {
      .field-name-field-image {
        margin: 20px auto 30px;

        .field-item {
          img {
            width: 100% !important;
            max-width: 720px;
            height: auto !important;
          }
        }
      }

      .field-name-field-video {
        margin: 20px auto 30px;
        width: 100%;
        max-width: 720px;

        .field-item {
          position: relative;
          overflow: hidden;
          padding-top: 56.25%;

          iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0;
          }
        }
      }

      .field-name-body {
        margin: 60px auto 30px;
        #pxl-mixins.wysiwyg-body();
        //#pxl-mixins.hyphenate;

        @media @tablet {
          .content-columns(2, 24px);
        }
      }

      a.block-button {
        display: block;
        position: relative;
        margin: 0 auto;
        padding: @pxl-container-padding;
        width: 100%;
        max-width: 300px;
        min-width: (@pxl-icon-width + 2*@pxl-container-padding);
        text-decoration: none;
        #pxl-mixins.border-radius(5px);
        background-color: @pxl-action-button;
        opacity: 1.0;

        &:hover {
          text-decoration: none;
          opacity: 0.7;
        }

        .block-button-title {
          display: block;
          font-family: @pxl-text-font-bold;
          font-size: 24px;
          text-align: center;
          color: #fff;
        }

      }
    }
  }
}
