/*
 *  Node page component
 * --------------------------------------------------*/

// Variables
// -------------------------
@paragraph-margin-bottom: 30px;
@paragraph-margin-bottom-large: 50px;


// Mixins
// -------------------------



// General settings
// -------------------------
.node-page {
  .row {
    div.col-sm-12 {
      margin: 20px 0 50px;
      width: 100%;

      .field-name-title {
        h2 {
          margin-bottom: 20px;
          font-family: @pxl-text-font-bold;
          #pxl-mixins.font-size-responsive(32px, 22px);
          letter-spacing: 1.2px;
          text-transform: uppercase;
          color: @text-color;
        }
      }

      .field-name-body {
        margin: 0 0 30px;
        .jumbotron {
          h2 {
            margin: 0 auto 20px;
          }
        }

        #pxl-mixins.wysiwyg-body(17px);
      }

      >.paragraphs-items {
        >.field-name-field-paragraphs {
          >.field-items {
            >.field-item:not(:last-child) {
              margin-bottom: @paragraph-margin-bottom;

              @media @tablet {
                margin-bottom: @paragraph-margin-bottom-large;
              }


              // see paragraph-item-... less files
            }
          }
        }
      }

    }
  }
}
