//
// General Panel style
.panel-display {
  .panel-col {
    .panel-pane {
      padding-bottom: @panel-separator-height;

      .pane-title {
        margin: @field-title-margin;
        #pxl-mixins.title();
      }

      .pane-content {
        margin: 0 auto;
        max-width: @container-max-width;
        // see specific content less-file
      }
    }

    #panel-fundraising {
      margin-bottom: @panel-separator-height;
      padding-bottom: 0;
      background-color: @pxl-color-panel-item-bg;
    }

    #panel-quotes, #panel-subscription {
      padding-bottom: 0;
      background-color: @pxl-color-main;
    }

    #panel-masonry-social,
    #panel-blog,
    #panel-donate-online {
      background-color: @pxl-color-panel-item-bg;
    }

    #panel-next-raffle {
      background-color: @pxl-color-panel-item-bg;
    }

    .panel-separator {
      height: 0;
    }
  }
}

