/*
 *  Text-50-25-25 paragraph component
 * --------------------------------------------------*/

// Variables
// -------------------------


// Mixins
// -------------------------


// Component
// -------------------------
// grid additionals
.col-xxs-6-sm-3 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;

  @media @special-break {
    float: left;
    width: 50%;
  }
  @media @tablet {
    width: 25%;
  }
}

.entity-paragraphs-item.paragraphs-item-text-50-25-25 {
  .row {

    .col-sm-12 {
      .field-name-field-title {
        .field-item {
          margin: @paragraph-title-margin;
          #pxl-mixins.subtitle();
          color: @pxl-color-main;
        }
      }
    }

    .col-sm-6, .col-md-4 {
      .field-name-field-text-50,
      .field-name-field-text-25-1,
      .field-name-field-text-25-2 {
        margin: @field-margin;

        .field-item {
          #pxl-mixins.wysiwyg-body();
          h3, .pxl-subtitle {
            margin: -4px 0 1.5rem;
          }
          //#pxl-mixins.hyphenate;

          ol {
            padding-left: 20px;
          }
        }
      }

      .field-name-field-image1, .field-name-field-image2,
      .field-name-field-image3, .field-name-field-image4 {
        margin: 0 -@grid-gutter-width/4 30px;

        .field-item {
          text-align: center;

          img {
            display: inline-block;
            max-width: 100%;
            height: auto;

            @media @narrow-only {
              max-width: 75%;
            }
          }
        }
      }

      @media @tablet-only {
        // left image
        .field-name-field-image1 {
          .field-item {
            text-align: left;
            img {
              max-width: 50%;
            }
          }
        }
      }
    }
  }
}
