/*
 *  Image-Text-image paragraph component
 * --------------------------------------------------*/

// Variables
// -------------------------


// Mixins
// -------------------------


// Component
// -------------------------

.entity-paragraphs-item.paragraphs-item-image-text-image {
  &.full-width {
    margin: 0 -@grid-gutter-width/2;
    background-color: @pxl-color-main;

    @media @tablet {
      margin: 0 ~"calc((@{container-sm} - @{grid-gutter-width} - 100vw)/2)";
    }
    @media @normal {
      margin: 0 ~"calc((@{container-md} - @{grid-gutter-width} - 100vw)/2)";
    }
    @media @wide {
      margin: 0 ~"calc((@{container-lg} - @{grid-gutter-width} - 100vw)/2)";
    }

    .row {
      margin: 0 auto;
      padding: 0 @grid-gutter-width/2;

      @media @tablet {
        padding: 0 (@screen-sm-min - @container-sm + @grid-gutter-width)/2;
        width: @screen-sm-min;
      }
      @media @normal {
        padding: 0 (@screen-md-min - @container-md + @grid-gutter-width)/2;
        width: @screen-md-min;
      }
      @media @wide {
        padding: 0 (@screen-lg-min - @container-lg + @grid-gutter-width)/2;
        width: @screen-lg-min;
      }
    }
  }

  .row {
    .col-sm-6 {
      margin: 20px 0;

      .field-name-field-text-50 {
        margin: 20px 0;
        .field-item {
          #pxl-mixins.wysiwyg-body();
          p {
            color: @pxl-bg-panel-item;
          }
          //#pxl-mixins.hyphenate;

          ol {
            padding-left: 20px;
          }
        }
      }

      .field-name-field-video {
        width: 100%;

        .field-item {
          position: relative;
          overflow: hidden;
          padding-top: 56.25%;

          iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0;
          }
        }

      }
    }

    .col-xxs-6-sm-3 {
      margin: 20px 0;

      .col-inner {
        padding: 10px;
        text-align: center;
        //#pxl-mixins.border-radius(6px);
        //border: 1px solid @pxl-bg-panel-item;
      ;
        //#pxl-mixins.box-shadow(@pxl-box-shadow);

        .field-name-field-image1, .field-name-field-image2 {
          display: none;
          .field-item {
            img {
              max-width: 100%;
              height: auto;
            }
          }
        }

        .field-name-field-image-title-1, .field-name-field-image-title-2 {
          margin-bottom: 20px;

          .field-item {
            #pxl-mixins.text();
            font-family: @pxl-text-font-bold;
            color: @pxl-bg-panel-item;
            text-align: center;
          }
        }

        a.button-survey {
          display: inline-block;
          padding: 8px 20px 10px;
          font-family: @pxl-text-font-bold; //font type und size geändert
          #pxl-mixins.font-size-responsive(@resp-button-size-max, @resp-button-size-med, @resp-button-size-min);
          line-height: 1;
          color: @pxl-color-main;
          #pxl-mixins.border-radius(3px);
          border: none;
          background-color: @pxl-bg-panel-item;
          opacity: 1.0;
          text-decoration: none;

          &:hover, &.active {
            text-decoration: none;
            opacity: 0.7;
          }
        }
      }
    }
  }
}
