/*
 *  Image33-Text66 paragraph component
 * --------------------------------------------------*/

// Variables
// -------------------------


// Mixins
// -------------------------


// Component
// -------------------------

.entity-paragraphs-item.paragraphs-item-image33-text66 {
  .row {
    .col-sm-12 {
      .field-name-field-title {
        .field-item {
          margin: @paragraph-title-margin;
          #pxl-mixins.subtitle();
          color: @pxl-color-main;
        }
      }
    }

    .col-sm-6, .col-md-4, .col-md-8 {
      @media @tablet {
        &.left.switch {
          left: 50%;
        }

        &.right.switch {
          right: 50%;
        }
      }
      @media @normal {
        &.left.switch {
          left: 66.666666%;
        }

        &.right.switch {
          right: 33.333333%;
        }
      }

      .field-name-field-text,
      .field-name-field-text-50 {
        margin: @field-margin;

        .field-item {
          #pxl-mixins.wysiwyg-body();
          h3, .pxl-subtitle {
            margin: @paragraph-title-margin;
          }
          //#pxl-mixins.hyphenate;
        }
      }

      .field-name-field-image {
        margin: @field-margin;

        .field-item {
          text-align: center;

          img {
            display: inline-block;
            max-width: 100%;
            height: auto;

            @media @narrow-only {
              max-width: 75%;
            }
          }
        }
      }

      .field-name-field-video {
        margin: @field-margin;
        width: 100%;

        .field-item {
          position: relative;
          overflow: hidden;
          padding-top: 56.25%;

          iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0;
          }
        }
      }

      .field-name-field-links {
        margin: @field-margin;
        width: 100%;

        @media @tablet {
          width: auto;
        }

        .field-item {
          display: inline-block;
          margin: 0 5px 1rem;

          a {
            #pxl-mixins.button-main();
            margin: 0;
          }
        }
      }
    }
  }
}
