/*
 *  Text paragraph component
 * --------------------------------------------------*/

// Variables
// -------------------------


// Mixins
// -------------------------


// Component
// -------------------------
.entity-paragraphs-item.paragraphs-item-text-paragraph {
  .row {
    .col-sm-12 {
      .field-name-field-title {
        .field-item {
          margin: @paragraph-title-margin;
          #pxl-mixins.title();
          color: @pxl-color-main;
        }
      }

      .field-name-field-text {
        margin: @field-margin;
        width: 100%;

        .field-item {
          #pxl-mixins.wysiwyg-body();
          h3, .pxl-subtitle {
            margin-top: -4px;
          }
          //#pxl-mixins.hyphenate;
        }

        @media @tablet {
          width: 75%;
          .field-item {
            //.content-columns(2, 24px);
          }
        }
      }

      .field-name-field-links {
        margin: @field-margin;
        width: 100%;

        .field-item {
          display: inline-block;
          margin: 0 0 1rem;
          width: 100%;

          a {
            #pxl-mixins.button-main();
            margin: 0;
            width: 100%;
          }
        }

        @media @tablet {
          width: auto;

          .field-item {
            margin: 0 10px 1rem 0;
            width: auto;
            a {
              width: auto;
            }
          }
        }
      }

    }
  }

}
