/*
 *  User profile component
 * --------------------------------------------------*/

// Variables
// -------------------------


// Mixins
// -------------------------


// General settings
// -------------------------
body.page-user {
  .main-container {
    .container {
      .row {
        .col-sm-12 {
          ul.tabs--primary {
            display: none;
          }
        }
      }
    }
  }
}

form {
  margin: 0 auto @panel-separator-height;

  .ds-form {
    .row {
      .col-sm-12 {
        .panel:not(#edit-picture) {
          margin: 20px auto @panel-separator-height;
          border: none;
          #pxl-mixins.border-radius(0);
          #pxl-mixins.box-shadow(none);
          background: none;

          @media @tablet {
            margin: 20px auto @panel-separator-height;
          }

          .panel-heading {
            padding: 0;
            border: none;
            background: none;
            text-align: center;

            .panel-title {
              display: inline-block;
              margin-bottom: 0;
              #pxl-mixins.title();
            }
          }

          .panel-body {
            padding: 0;
            > .help-block {
              padding: 30px 100px;
              #pxl-mixins.subtitle();
            }

            > .form-group, .panel {
              margin: 0 0 @panel-separator-height;
            }

            #user_register_form h1 {
              display: none;
            }

            .form-item {
              .help-block {
                font-size: @font-size-min;
              }
            }

            p {
              margin: @field-margin;
              #pxl-mixins.text();
            }

            input.form-control {
              border: 1px solid @pxl-color-border;
              #pxl-mixins.border-radius(0);
              #pxl-mixins.box-shadow(none);

              &:focus {
                #pxl-mixins.box-shadow(0 1px 1px rgba(171, 147, 94, 0.075) inset);
                #pxl-mixins.box-shadow(0 0 8px rgba(171, 147, 94, 0.6));
                border: 1px solid @pxl-color-main;
              }
            }

            @media @normal {
              .form-type-password-confirm .password-help {
                left: 50%;
              }
            }

            .form-type-password {
              @media @tablet {
                &.col-md-4 {
                  width: 50%;
                }
              }
            }

            .form-type-textfield {
              .help-block, .description {

              }
            }

            .field-name-field-raffle-code {
              .form-item {
                text-align: center;

                label.control-label {
                  display: inline-block;
                  width: 120px;
                  #pxl-mixins.leadtext();
                }

                input.form-text {
                  display: inline-block;
                  width: 150px;
                  #pxl-mixins.leadtext();
                  border: none;
                  background-color: #222;
                }

                .help-block {

                }
              }
            }

            .raffle-action-container {
              text-align: center;

              a.btn-default {
                #pxl-mixins.button-gold();
              }
            }
          }
        }
        .panel#edit-picture {
          border: none;
          background: none;
          #pxl-mixins.box-shadow(none);

          .panel-heading {
            display: none;
          }
          .panel-body {
            border: none;
          }
        }

      }
    }
  }

  .form-item-condition-checkbox {
    display: none;
  }

  .form-actions {
    margin: 0 !important;
    text-align: center;

    .form-submit {
      #pxl-mixins.button-gold();

      .icon {
        display: none;
      }
    }

  }
}
