/*
 *  Donations view component
 * --------------------------------------------------*/

// Variables
// -------------------------
@tab-button-color: #fff;
@tab-button-radius: 0;

@tab-height: 44px;


// Mixins
// -------------------------


// General settings
// -------------------------
#block-views-donations-block {
  width: 100%;

  .block-title {
    margin: 0 0 20px;
    font-family: @pxl-title-font;
    font-size: @font-size-pane-title;
    text-align: center;
    color: @text-color;
  }
}

.view.view-donations {
  .view-header {
    margin-bottom: @paragraph-margin-bottom;

    #pxl-mixins.wysiwyg-body();
    h3, .pxl-subtitle {
      margin: @paragraph-title-margin;
    }
  }

  .view-content {
    margin: 40px auto 0;

    .views-bootstrap-tab-plugin-style {
      ul.nav {
        width: 100%;
        text-align: center;

        li {
          float: none;
          display: inline-block;
          margin: 5px 0;
          vertical-align: top;

          a {
            #pxl-mixins.button-main-small();
            margin: 0 5px;
            //.tab-button();
          }

          &.active {
            a {
              #pxl-mixins.button-gold-small();
              margin: 0 5px;
            }
          }
        }
      }

      .tab-content {
        margin: 5px auto 0;
        border-top: 1px solid @pxl-color-border;

        .tab-pane {
          padding-top: 20px;
          // registration info for recurring payment
          .registration-information {
            width: 100%;
            text-align: center;

            .registration-message {
              display: inline-block;
              margin: @field-margin;
              padding: 30px 10px;
              font-family: @pxl-text-font;
              text-align: center;
              //border: 1px solid @pxl-color-border-light;
              #pxl-mixins.border-radius(@tab-button-radius);
              //background-color: @pxl-color-panel-item-bg;

              .registration-hint {
                font-size: @font-size-base;
                color: @text-color;
              }

              a {
                #pxl-mixins.button-main();
              }
            }
          }
          // see node-spenden.less, node-offline-donation.less

        }
      }
    }
  }
}
