/*
 *  Social-masonry view component
 * --------------------------------------------------*/

// Variables
// -------------------------
@pxl-form-control-height: 30px;

// Mixins
// -------------------------


// General settings
// -------------------------
.view.view-social-masonry,
.view.view-blog {
  .view-filters {
    padding: 30px 0;

    .views-exposed-form {
      .views-exposed-widgets {
        margin: 0;
        text-align: center;

        .views-exposed-widget {
          display: inline-block;
          vertical-align: top;
          float: none;
          margin: 5px -2px;
          padding: 0;

          >label, >.description {
            display: none;
          }

          .views-widget {
            position: relative;

            .form-radios {
              text-align: center;

              .radio {
                display: inline-block;
                margin: 0;

                .control-label {
                  display: block;
                  padding: 8px 20px 10px;
                  font-family: @pxl-text-font;
                  font-size: 16px;
                  line-height: 1;
                  color: #fff;
                  #pxl-mixins.border-radius(0);
                  border: none;
                  background-color: @pxl-color-main;
                  opacity: 1.0;

                  > input {
                    display: none;
                  }

                  &:hover, &.active {
                    color: #fff;
                    opacity: 0.7;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .view-content {
    #pxl-mixins.masonry-small();
  }

  .pager.pager--infinite-scroll {
    .pager__item {
      a {
        #pxl-mixins.button-main();
      }
    }
  }
}
