/*
 *  View call2action component
 * --------------------------------------------------*/

// Variables
// -------------------------
@pxl-gutter-width: 1.5%;
@pxl-badge-size: 50px;
@pxl-container-padding: 20px;
@pxl-icon-width: 250px;
@pxl-icon-height: 190px;


// Mixins
// -------------------------



// General settings
// -------------------------
.view.view-call2action {
  margin: 0;
  width: 100%;

  .view-content {
    margin: 0 -@pxl-gutter-width;
    text-align: center;

    .views-row {
      display: inline-block;
      margin: 20px -2px;
      padding: 0;
      width: 100%;
      vertical-align: top;

      .node-call2action {
        .row {
          margin: 0;

          .col-sm-12 {
            padding: 0 @pxl-gutter-width;

            .call2action-container {
              display: block;
              position: relative;
              padding: @pxl-container-padding;
              width: 100%;
              min-width: (@pxl-icon-width + 2*@pxl-container-padding);
              #pxl-mixins.border-radius(10px);

              &:hover {
                text-decoration: none;
              }

              .field-name-field-weight {
                #pxl-mixins.center-horizontally;
                position: absolute;
                top: -@pxl-badge-size/2;

                .field-item {
                  display: block;
                  margin: 0 auto;
                  padding: 4px 0 16px;
                  width: @pxl-badge-size;
                  height: @pxl-badge-size;
                  font-family: @pxl-text-font-bold;
                  font-size: (@pxl-badge-size - 20px);
                  line-height: 1;
                  color: #fff;
                  text-align: center;
                  #pxl-mixins.border-radius(50%);
                  border: 5px solid #fff;
                }
              }

              .field-name-field-animation-icon {
                display: block;
                margin: 0 auto;

                .field-item {
                  iframe {
                    display: block;
                    overflow: hidden;
                    margin: 0 auto;
                    max-width: 100%;
                    height: @pxl-icon-height;
                  }
                }
              }

              .field-name-title {
                margin: 10px 0;

                h2 {
                  margin: 0;
                  font-family: @pxl-text-font-bold;
                  font-size: @font-size-pane-title;
                  text-align: center;
                  color: #fff;
                }
              }

            }

            .field-name-body {
              display: none;
              margin: 20px auto 0;
              width: 90%;

              .field-item {
                font-family: @pxl-text-font-light;
                font-size: @font-size-base;
                line-height: 30px;
                text-align: center;
                color: @text-color;
              }
            }
          }
        }
      }

      @media @special-break {
        width: 50%;

        .node-call2action {
          .row {
            .col-sm-12 {
              padding: 0 2*@pxl-gutter-width;

              .call2action-container {

              }

              .field-name-body {
                display:block;
              }
            }
          }
        }
      }

      @media @normal {
        width: 33.33333%;

        .node-call2action {
          .row {
            .col-sm-12 {
              padding: 0 3*@pxl-gutter-width;

              .call2action-container {
              }
            }
          }
        }
      }

      &.call2action-support {
        .call2action-container {
          background-color: @pxl-color-support;

          .field-name-field-weight {
            .field-item {
              background-color: @pxl-color-support;
            }
          }
        }
      }
      &.call2action-participate {
        .call2action-container {
          background-color: @pxl-color-participate;

          .field-name-field-weight {
            .field-item {
              background-color: @pxl-color-participate;
            }
          }
        }
      }
      &.call2action-experience {
        .call2action-container {
          background-color: @pxl-color-experience;

          .field-name-field-weight {
            .field-item {
              background-color: @pxl-color-experience;
            }
          }
        }
      }
    }
  }
}
