/*
 *  Header section (navigation)
 * --------------------------------------------------*/

// Variables
// -------------------------


// Mixins
// -------------------------



// Main settings
// -------------------------
body.navbar-is-fixed-top {
  padding-top: 70px !important;

  &.admin-menu {
    padding-top: 70px !important;
  }

  @media @tablet {
    padding-top: 120px !important;

    &.admin-menu {
      padding-top: 120px !important;
    }
  }
}


header#navbar {
  border-bottom: none;
  background: transparent none;

  .container {
    padding: 12px @grid-gutter-width / 2;
    width: 100%;
    overflow: hidden;

    @media @tablet {
      padding: 25px @grid-gutter-width / 2;
      width: @screen-sm-min;
    }
    @media @normal {
      width: @screen-md-min;
    }
    @media @wide {
      width: @screen-lg-min;
    }

    .navbar-header {
      // header (branding)
      margin: 0;

      a.logo {
        display: inline-block;
        position: relative;
        left: -40px;
        margin: 0;
        padding: 0;
        width: 70%;
        z-index: 10;

        img {
          display: block;
          max-height: 46px;
        }

        @media @tablet {
          width: 100%;
          left: -50px;

          img {
            max-height: 70px;
          }
        }

        @media @normal {
          left: 0;
        }

      }

      a.navbar-brand {
        display: none;
        margin: 0;
        padding: 0;
        max-width: 350px;
        height: auto;
        font-family: @pxl-text-font-bold;
        font-size: @font-size-h1;
        color: @gray-darker;
        line-height: 1;
      }

      .navbar-toggle {
        // navbar toggle with burger
        margin: 0;
        padding: 7px 10px;
        border: none;
        background: none;

        span.navbar-open {
          display: inline-block;
          width: 35px;
          height: 23px;
          background: #fff url("../images/navi_burger.svg") no-repeat left top/contain;
        }
      }
    }

    // collapse part
    .navbar-collapse {
      position: relative;

      .navbar-toggle-2 {
        // navbar toggle with arrow
        display: none;
        margin: 10px auto;
        padding: 5px 10px;
        border: none;
        background: none;

        span.navbar-close {
          display: inline-block;
          width: 33px;
          height: 22px;
          background: #fff url("../images/navi_close.svg") no-repeat left top/contain;
        }
      }

      &.in {
        .navbar-toggle-2 {
          display: block;
        }
      }

      nav {
        // main menu
        ul.navbar-nav {
          display: block;
          position: static;
          float: none;
          margin: 15px;

          @media @tablet {
            margin: 0;
          }

          li {
            height: 40px;

            a {
              padding: 0px 15px;
              font-family: @pxl-text-font-bold;
              font-size: 24px;
              text-align: center;
              color: @text-color;
              line-height: 1;
              background: none;

              @media @tablet {
                padding: 0px 15px;
              }

              &:hover,
              &.active {
                color: @pxl-color-main;
                //background-color: @text-color;
              }

              &.menu-support {
                color: @text-color;

                &:hover,
                &.active {
                  color: @pxl-color-main;
                  //background-color: @pxl-color-support;
                }
              }
              &.menu-participate {
                color: @text-color;

                &:hover,
                &.active {
                  color: @pxl-color-main;
                  //background-color: @pxl-color-participate;
                }
              }
              &.menu-experience {
                color: @text-color;

                &:hover,
                &.active {
                  color: @pxl-color-main;
                  //background-color: @pxl-color-experience;
                }
              }
            }
          }
        }

        // region navigation
        .region-navigation {
          display: block;
          position: static;
          float: none;
          margin: 0;

          //
          // user login menu
          .block-system {
            display: block;
            margin-right: 20px;

            ul.menu {
              #pxl-mixins.no-list-style;

              li {
                #pxl-mixins.no-list-style;
                display: block;
                margin: 0;
                padding: 0;
                height: 40px;
                line-height: 1;

                a {
                  padding: 7px 5px;
                  font-family: @pxl-text-font-bold;
                  font-size: @font-size-large;
                  text-align: center;
                  color: @text-color-light;
                  outline: none;

                  &.active, &:hover, &:focus {
                    background: none;
                    color: @pxl-color-main;
                  }
                }
              }
            }
          }

          .block-locale {
            display: none;
            // see block-language.less
          }
        }

        @media @tablet {
          ul.navbar-nav {
            display: block;
            position: absolute;
            top: 5px;
            right: -15px;

            li {
              a {
                text-align: left;
              }

              &.last {
                a {
                  //padding-right: 0;
                }
              }
            }
          }

          .region-navigation {
            display: block;
            position: absolute;
            bottom: 0;
            right: 0;
            margin: 0 0 0 20px;

            .block-system {
              display: inline-block;
              margin-right: 20px;
              ul.menu {
                li {
                  display: inline-block;
                  margin: 0;
                  height: auto;

                  a {
                    padding: 0 5px;
                    font-family: @pxl-text-font-bold;
                    font-size: @font-size-base;
                    text-align: left;
                  }

                  &.last {
                    a {
                      padding-right: 0;
                    }
                  }
                }
              }
            }

            .block-locale {
              display: inline-block;
              // see block-language.less
            }
          }
        }
      }
    }
  }
}

