/*
 *  Button mixins
 * --------------------------------------------------*/

// Variables
// -------------------------
// main button
@pxl-color-button: #fff;
@pxl-color-button-hover: @pxl-color-main;
@pxl-color-button-bg: #222;
@pxl-color-button-bg-hover: #222;

// second button
@pxl-color-button2: @pxl-color-main;
@pxl-color-button2-hover: @pxl-color-main;
@pxl-color-button2-bg: #fff;
@pxl-color-button2-bg-hover: rgba(white, 0.7);

@pxl-action-button: #92BDC3;//#00B9BF;



// Mixins
// -------------------------
#pxl-mixins {
  //
  // Button styles
  .button-base(@radius: 30px) {
    display: inline-block;
    margin: 1em auto;
    padding: .5em 2em;
    #pxl-mixins.buttontext();
    border: none;
    outline: none;
    #pxl-mixins.border-radius(@radius);
  }

  .button-base-small(@radius: 30px) {
    display: inline-block;
    margin: 1em auto;
    padding: .5em 2em;
    font-size: 16px;
    border: none;
    outline: none;
    #pxl-mixins.border-radius(@radius);
  }

  .button-main(@radius: 30px) {
    .button-base(@radius);
    color: @pxl-color-button;
    background: @pxl-color-button-bg;

    &:hover, &.active {
      color: @pxl-color-button-hover;
      background: @pxl-color-button-bg-hover;
    }
  }

  .button-main-small(@radius: 30px) {
    .button-base-small(@radius);
    color: @pxl-color-button;
    background: @pxl-color-button-bg;

    &:hover, &.active {
      color: @pxl-color-button-hover;
      background: @pxl-color-button-bg-hover;
    }
  }

  .button-second(@radius: 30px) {
    .button-base(@radius);
    color: @pxl-color-button2 !important;
    background: @pxl-color-button2-bg !important;

    &:hover, &.active {
      color: @pxl-color-button2-hover !important;
      background: @pxl-color-button2-bg-hover !important;
    }
  }

  .button-second-small(@radius: 30px) {
    .button-base-small(@radius);
    color: @pxl-color-button2 !important;
    background: @pxl-color-button2-bg !important;

    &:hover, &.active {
      color: @pxl-color-button2-hover !important;
      background: @pxl-color-button2-bg-hover !important;
    }
  }

  .button-gold(@radius: 30px) {
    .button-base(@radius);
    color: white;
    background: @pxl-color-main;

    &:hover, &.active {
      color: white;
      background: rgba(@pxl-color-main, 0.8);
    }
  }
  .button-gold-small(@radius: 30px) {
    .button-base-small(@radius);
    color: white;
    background: @pxl-color-main;

    &:hover, &.active {
      color: white;
      background: rgba(@pxl-color-main, 0.8);
    }
  }

}
